%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Sample Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[
 {rabbit,
  [
    {tcp_listeners, [5677]},
    {default_user,        <<"guest">>},
    {default_pass,        <<"ieL0eh2Sing1">>}
  ]
},

 {kernel,[]},

 {rabbitmq_management,[{listener, [{port,     13313}]}]},

 {rabbitmq_management_agent,[]},

 {rabbitmq_shovel,[{shovels,[]}]},

 {rabbitmq_stomp,[]},

 {rabbitmq_mqtt,[]},

 {rabbitmq_amqp1_0,[]},

 {rabbitmq_auth_backend_ldap,[]}
].
